:root{
    --primary-color: #00487C;
    --secondary-color: #267EBD;
    --tertiary-color: #4BB3FD;
    --quaternary-color: #D7EBBA;
    --quinary-color: #EBF5BC;
    --senary-color: #FEFFBE;

    --primary-color-dark: #00223A;
}

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    color: #ffffff;
    font-family: archivo;
    overflow-x: hidden;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}

::-webkit-scrollbar{
    background: var(--primary-color);
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: var(--primary-color-dark);
}


header{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--primary-color);
    font-size: 1.2em;
    font-weight: 500;

    width: 100%;
    height: 70px;
    /* margin: 10px 0px; */
}

nav h2{
    padding-left: 30px;
}

nav img{
    width: 60px;
    height: 60px;

    border-radius: 50%;
}

nav ul{
    display: flex;
    height: 100%;
    list-style: none;
    gap: 10px;
    align-items: center;
}

nav ul a{
    position: relative;
    align-content: center;

    color: inherit;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    height: 100%;

    overflow: hidden;
}

nav ul a:before{
    content: "";

    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: var(--primary-color);

    border-radius: 30px;
    transition: 0.5s;
}

nav ul a:after{
    content: "";

    position: absolute;
    bottom: 5px;
    left: 100%;
    width: 100%;
    height: 4px;
    background: var(--tertiary-color);
    border-radius: 30px;


    transition: 0.5s;
}

nav ul a:hover:before,
nav ul a:hover:after{
    left: 0;
    transition: 0.5s;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    /* background: red; */
    align-items: center;
    margin-right: 70px;
    width: 600px;
    height: 100%;
}

nav .userProfile{
    background: #abc0ff;
    text-align: center;
    align-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%
}

/* ---------------------------------------------------------------- */
/* Welcoming Section */

.welcoming-Section{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: calc(100vh - 70px);

    gap: 20px;
    /* background: var(--primary-color-dark); */
}

.welcoming-Section img{
    width: 250px;
    height: 70%;
    object-fit: cover;
}

/* Image PLacements */
.welcoming-Section img:nth-child(1){
    transform: translateY(-50px);
}

.welcoming-Section img:nth-child(2){
    transform: translateY(30px);
}

.welcoming-Section img:nth-child(3){
    transform: translateY(-20px);
}

.welcoming-Section img:nth-child(4){
    transform: translateY(40px);
}

.welcoming-Section img:nth-child(5){
    transform: translateY(-50px);
}