.welcoming-Section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 70px);

    gap: 20px;
    /* background: var(--primary-color-dark); */
}

.welcoming-Section img{
    width: 250px;
    height: 70%;
    object-fit: cover;
    background: var(--primary-color-dark);
    transition: 0.2s ease-in-out;
}

/* Image PLacements */
.welcoming-Section img:nth-child(1) {
    transform: translateY(-50px);
}

.welcoming-Section img:nth-child(2) {
    transform: translateY(30px);
}

.welcoming-Section img:nth-child(3) {
    transform: translateY(-20px);
}

.welcoming-Section img:nth-child(4) {
    transform: translateY(40px);
}

.welcoming-Section img:nth-child(5) {
    transform: translateY(-50px);
}

.welcoming-Section img:hover {
    scale: 1.1;
}

.welcoming-Section:has(img:hover) img:not(:hover) {
    transition: filter 100ms ease-in-out;
    filter: grayscale(50%);
    transition: 0.2s ease-in-out;

}

.scrollDown{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 1.2em;

    color: var(--primary-color-dark);
}

/* ------------------------------------------------- */

.section2{
    height: 100vh;
    width: 100%;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.section2 h1{
    margin-bottom: 20px;
}

.section2-Content{
    width: 80%;
    height: 625px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

.content-Containers{
    position: relative;

    background: var(--mid-secondary-color);
    border-radius: 5px;
}

.content-icon{
    height: 50px;
    width: 50px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--tertiary-color);
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

/* ------------------------------------------------ */
