:root{
    --primary-color: #00487C;
    --secondary-color: #267EBD;
    --tertiary-color: #4BB3FD;
    --quaternary-color: #D7EBBA;
    --quinary-color: #EBF5BC;
    --senary-color: #FEFFBE;

    --primary-color-dark: #00223A;
}

*{
    margin: 0;
    padding: 0;
}

body{
    color: var(--primary-color);
}

.welcoming-Section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: calc(100vh - 70px);

    gap: 20px;
    /* background: var(--primary-color-dark); */
}

.welcoming-Section img{
    width: 250px;
    height: 70%;
    object-fit: cover;
    background: var(--primary-color-dark);
}

/* Image PLacements */
.welcoming-Section img:nth-child(1){
    transform: translateY(-50px);
}

.welcoming-Section img:nth-child(2){
    transform: translateY(30px);
}

.welcoming-Section img:nth-child(3){
    transform: translateY(-20px);
}

.welcoming-Section img:nth-child(4){
    transform: translateY(40px);
}

.welcoming-Section img:nth-child(5){
    transform: translateY(-50px);
}

.section2{
    height: 100vh;
    width: 100vw;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2-Content{
    width: 100%;
    height: 600px;
    background: #000;

    
}