*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}



:root{
    --carousel-width: 300px;
    --carousel-height: 200px;
    --partners-quantity: 8;
}

body{
    width: 100dvw;
    overflow-x: hidden;
}


.about-section{

    width: 100%;
    padding-inline: 12vw;
    margin-top: 2rem;
    grid-area: 2rem;
    /* height: 100vh; */
}

.about-h1{
    font-size: 8rem;
}

.about-description-wrapper{
    display: flex;
    width: 100%;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    background-image: url(/Resources/Images/3Image.jpeg);
    background-position: center;
    background-size: cover;
    color: #fff;
    border-radius: 2rem;
    padding: 1rem;
    padding-left: 3rem;
}

.about-text-container{
    display: flex;
    flex-direction: column;
}

.about-people-img {
    position: relative;
    display: block;
    /* max-width: 100%; */
    height: 100%;
    aspect-ratio: 1;
    border-radius: 50% 2rem 2rem;
}

.event-link{
    color: var(--secondary-color);
}

.about-description{
    font-weight: 300;
    line-height: 2.1rem;
    font-size: 1.2rem;
}

.aim-description-wrapper{
    height: 400px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    margin-top: 2rem;
}

.aim-text-container{
    line-height: 1.5rem;
}

.aim-text-container h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
.leaders-grid-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 300px);
    justify-items: center;
    gap: 2rem;
}

.leaders-display-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    height: 100vh;
    /* scroll-snap-align: start; */
}

.leaders-display-section h2{
    font-size: 4rem;
    text-align: center;
    margin-bottom: 3rem;
}

.club-member{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    outline: 1px solid var(--secondary-color);
    overflow: hidden;
    border-radius: 2rem;
}

.club-member:nth-child(3) .leader-image-container, .club-member:nth-child(2) .leader-image-container,  .club-member:nth-child(5) .club-member-info{
    width: 45%;
}

.club-member:nth-child(3) .club-member-info, .club-member:nth-child(2) .club-member-info,  .club-member:nth-child(5) .club-member-info{
    max-width: 55%;
    padding: 0.5rem;
}

.leader-image-container{
    overflow: hidden;
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.club-member-info{
    position: absolute;
    display: flex;
    flex: 1;
    min-width: 55%;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0.5rem;
    line-height: 2rem;
    text-align: center;
    text-wrap: wrap;
    background-image: url(/Resources/Images/3Image.jpeg);
    background-position: center;
    background-size: cover;
}

.club-member-name{
    color: #fff;
    font-weight: 700;
    font-size: larger;
    width: 100%;
    z-index: 5;
    text-wrap: wrap;
}

.role{
    color: var(--secondary-color);
    z-index: 5;
}

.leader-image-container img{
    object-fit: cover;
    transform: scale(0.4);
} 

.partners-section{
    width: 400p;
    height: 400px;
    margin: 6rem 0;
    overflow: hidden; 
    /* Lee: I added overflow hidden to stop view width inconsistencies*/
    /* outline: 1px solid rgb(0, 8, 255); */
}


/* ---------------------------Tutorial from Youtube: luna Dev--------------------------- */

.carousel{
    width: 100%;
    height: 200px;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10% 90%,
        transparent
    );
}

.carousel .carousel-container{
    display: flex;
    width: 100%;
    min-width: calc(var(--carousel-width) * var(--partners-quantity));
    position: relative;
    /* outline: solid 1px rgb(0, 255, 30); */
}

.carousel:hover .carousel-slide{
    animation-play-state: paused!important;

}

.carousel .carousel-container .carousel-slide{
    width: var(--carousel-width);
    height: var(--carousel-height);
    position: absolute;
    left: 100%;
    animation: autoRun 20s linear infinite;
    animation-delay: calc((20s / var(--partners-quantity)) * (var(--position) - 1));
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .carousel-container .carousel-slide img{
    width: 100%;
    object-fit: fill;
}
/* -------------------------------------------------------------------------------------------- */

.partners-title{
    font-size: 7rem;
    text-align: center;
    margin-bottom: 3rem;
}

.club-leaders{
    color: var(--secondary-color);
}


@keyframes autoRun{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--carousel-width) * -1);
    }
}

@media (max-width: 768px) {
    .partners-title{
        font-size: 2em;
    }

    .about-description-wrapper{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: 500px;
        justify-content: space-between;
        align-items: center;
        background-color: var(--primary-color);
        color: #fff;
        border-radius: 2rem;
        padding: 1rem;
        padding-left: 3rem;
    }
    
    .about-text-container{
        display: flex;
        flex-direction: column;
    }
    
    .about-people-img {
        position: relative;
        display: block;
        max-width: 100%;
        
        
        /* height: 100%; */
        /* aspect-ratio: 1; */
        border-radius: 50% 2rem 2rem;
    }

    .about-h1{
        font-size: 4rem;
    }
    
    
    .about-description{
        font-weight: 300;
        line-height: 2.1rem;
        font-size: 1.2rem;
    }
    .aim-description-wrapper {
        display: flex;
        flex-direction: column;
    }

}

