.content-Container h2{
    display: none;
}

.content-Container{
    min-height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;

    /* background: red; */
    overflow-x: hidden;
    gap: 70px;
}

.timeline-Container{
    width: 60%;
    height: 100px;

    /* background: var(--tertiary-color); */

    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 90%;
    height: 5px;
    border-radius: 10px;

    background: var(--primary-color-dark);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bullets{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: var(--primary-color-dark);
    transition: 400ms;

    justify-items: center;
}

.bullets::after{
    content: '';
    position: absolute;
    height: 0%;
    width: 0%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: white;
    transition: 300ms;
}

.bullets:hover{
    background: var(--primary-color);
    /* outline: solid 3px var(--primary-color); */
    outline-offset: 2px;

    border-radius: 50%;
    scale: 1.3;
}

.bullets:hover::after{
    height: 60%;
    width: 60%;
}

.event-date{
    transform: translateY(55px);
    height: 30px;
    width: 100px;

    text-align: center;
    align-content: center;
    color: white;

    border-radius: 5px;
    background: var(--primary-color-dark);
}

/* ---------------------------------------- */

.timeline-Content-Container{
    height: 100%;
    width: 100dvw;

    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.event-Container{
    position: relative;
    width: 60%;

    align-content: center;
    justify-items: center;

    justify-self: center;
    padding: 30px;
    border-radius: 5px;


    background: var(--mid-secondary-color);
}

.event-Container::before{
    content: "";
    width: 100%;
    height: 100%;

    left: 0;
    top: 0;

    transform: rotate(3deg);
    position: absolute;
    background: var(--secondary-color);
    z-index: -1;
}

.event-Title{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    
    text-decoration:underline;
    text-decoration-thickness: 10px;
    text-decoration-color: var(--primary-color);
    align-content: center;
    /* background: var(--primary-color); */

    color: white;
}

.current-event-date{
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 1.25em;
}

.event-Details{
    position: relative;
    width: 95%;
    height: max-content;

    display: flex;
    flex-direction: column;
    color: white;

    /* justify-content: center; */

    font-size: 1.4em;
    line-height: 1.4em;
    /* background: var(--secondary-color); */
    padding: 10px 0px;
}

.event-Details::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;

    left: -20px;
    background: #ffffff2d;
}

.event-Buttons{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    /* background: var(--primary-color); */
}

.event-Buttons a{
    border: none;
    background: var(--primary-color);
    color: white;
    text-align: center;
    align-content: center;
    padding: 10px;
    width: 125px;
    border-radius: 3px;
}

.event-Buttons a:nth-child(2){
    background: #001a2c;
}

.event-Buttons a:hover{
    background: var(--secondary-color);
}
/* ------------------------------------------------------ */

@media (width <= 500px){

    .line{
        width: 100dvw;
    }

    .timeline-Container{
        width: 85%;
    }

    .timeline-Content{
        width: 100dvw;
    }

    .event-Container{
        position: relative;
        width: 80%;
        height: min-content;
        
        display: flex;
        flex-direction: column;
    }

    .bullets:nth-child(even)  .event-date{
        position: relative;
        transform: translateY(-50px);
    }

    .bullets:nth-child(even)  .event-date::before{
        content: '';
        position: absolute;
        background: var(--mid-secondary-color);
        left: 50%;
        top: 90%;
        transform: translateX(-50%);
        height: 20px;
        width: 5px;

        z-index: -1;
    }

    .bullets:hover{
        scale: 1;
    }

    .event-Details::before{
        display: none;
    }

    .event-Buttons{
    justify-content: center;

    }

    .content-Container h2{
        display: block;

        font-size: 2em;
        height: 60px;
        align-content: center;
        width: 80%;
    }
}