html {
    scroll-behavior: smooth;
    scroll-snap-type: mandatory y;
    scroll-snap-align: top;
}


.welcoming-Section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: calc(100vh - 70px);

    gap: 20px;
    /* background: var(--primary-color-dark); */
}

.welcoming-Section img{
    position: relative;
    width: 250px;
    height: 70%;
    object-fit: cover;
    background: var(--primary-color-dark);
    /* animation: pulse 5s calc(1s * var(--exaggerate)) infinite; */
    transition: 0.2s ease-in-out;
}

.welcoming-Section::before{
    content: '';

    position: absolute;
    background: var(--secondary-color);

    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 200px;
    width: 100%;
}

.welcoming-Section::after{
    content: 'WELCOME TO THE CODING CLUB';

    position: absolute;
    background: var(--primary-color-dark);

    color: white;
    text-align: center;
    align-content: center;
    font-size: 3em;
    font-weight: 600;
    top: 40%;
    transform: translate(-50%);
    left: 50%;
    height: 100px;
    width: 60%;
}

/* Image PLacements */
.welcoming-Section img:nth-child(1) {
    transform: translateY(-50px);
    --exaggerate:2;
}

.welcoming-Section img:nth-child(2) {
    transform: translateY(30px);
    --exaggerate:4;

}

.welcoming-Section img:nth-child(3) {
    transform: translateY(-20px);
    --exaggerate:3;

}

.welcoming-Section img:nth-child(4) {
    transform: translateY(40px);
    --exaggerate:5;

}

.welcoming-Section img:nth-child(5) {
    transform: translateY(-50px);
    --exaggerate:1;

}

.welcoming-Section img:hover {
    scale: 1.1;
}

.welcoming-Section:has(img:hover) img:not(:hover) {
    transition: filter 100ms ease-in-out;
    filter: grayscale(20%) brightness(70%);
    transition: 0.2s ease-in-out;

}

.scrollDown{
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    font-size: 1.2em;
    font-weight: 600;

    color: var(--primary-color-dark);
    /* animation: bobbing 1200ms 5s infinite; */
}

.mobile-welcome-Section{
    display: none;
}

@keyframes pulse {
    0%{
        filter: brightness(100%);
    }
    50%{
        filter: brightness(50%);
    }
    100%{
        filter: brightness(100%);

    }
}

@keyframes bobbing {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%{
        transform: translateY(0px);
    }
    60%{
        transform: translateY(0px);
    }
    80%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* ------------------------------------------------- */

.section2{
    height: min-content;
    width: 100%;
    height: 100dvh;

    position: relative;
    display: flex;

    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
}

.section2 h1{
    margin-bottom: 20px;
    background: white;
}

.section2-Content{
    width: 85%;
    height: 80%;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    gap: 30px;
}

.content-Containers{
    position: relative;

    height: 90%;
    background: var(--mid-secondary-color);
    border-radius: 5px;
    cursor: pointer;

    padding: 10px;
}

.content-Containers::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

    left: 0;
    top: 0;
    rotate: 4deg;
    z-index: -1;
    background: var(--primary-color);
}

.content-icon{
    height: 50px;
    width: 50px;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    background: var(--tertiary-color);
    border-radius: 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    transition: 1s;
    z-index: 1;
}


.flip-card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.flip-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.flip-front, .flip-back {
    position: absolute;
    height: 100%;
    backface-visibility: hidden;
    font-size: 24px;
    border-radius: 5px;
}

.flip-front{
    width: 90%;
    padding: 0% 5%;

    display: flex;
    flex-direction: column;
    gap: 20px;
}



.flip-front h3{
    margin-top: 10%;
    color: var(--secondary-color);
}

.flip-front p{
    color: white;
    font-size: 0.9em;
    line-height: 1.3em;
}

.flip-back {
    background: var(--quinary-color);
    text-align: center;
    align-content: center;
    width: 90%;
    padding: 0% 5%;
    transform: rotateY(180deg);
}

.flipped .flip-card {
    transform: rotateY(180deg);
}



@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
/* ------------------------------------------------ */

.Trip-section{
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.Trip-section h2{
    width: 80%;
    font-size: 2em;
    /* padding: 10px; */
    
}

.mason-something{
    height: 70%;
    width: 80%;
    border-radius: 10px;
    /* background: var(--primary-color); */
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.mason-something img{
    outline: solid black 5px;
    height: 50%;
    transition: 400ms;
}

.mason-something img:hover{
    scale: 1.25;
    z-index: 2;
}

.mason-something:has(img:hover) img:not(:hover){
    filter: blur(1px) brightness(30%);

}



/* ------------------------------------------------ */

@media (width <= 800px){
    .welcoming-Section{
        display: none;
    }

    .mobile-welcome-Section{
        display: block;
        position: relative;
        height: 100dvh;
        width: 100dvw;
        /* background: red; */

        background-image: url(../Resources/Images/mobile-Welcome.png);
        background-size: 400px;
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
    }

    .mobile-welcome-Section h1{
        position: absolute;
        bottom: 15%;
        left: 5%;
    }
    
    .section2-Content{
        /* background: red; */
        height: min-content;
        display: flex;
        flex-direction: column;
    }

    .content-Containers{
        height: 300px;
        width: 100%;
    }

}